/* container*/

$xxl: 1320px;
$xl:1140px;
$l:960px;
$md:720px;
$sm:540px;
$xsm:320px;
/* fonts*/

$oldStandardTT: 'Old Standard TT', serif;



/* colors*/

$white:#FFFFFF;
$mySin:#FFAE2B;
$zeus:#181511;
$napa:#ACA592;
$taupe:#4B4136;